<div class="container">
    <section class="page-section bg-light mt-3" id="team">
        <div class="container-fluid">
            <div>
                <h1 class="section-heading text-uppercase mt-4 text-center">Privacy Policy</h1> <br><br><br><br><br>
                <h2 class="section-heading text-uppercase mt-4 text-center">Welcome to Flame’s Privacy Policy. Thank you for taking the time to read it.</h2> <br>

                <h5 class="section-heading text-uppercase mt-4 text-center">We appreciate that you trust us with your information and this starts with making sure you understand the information we collect, why we collect it, how it is used.</h5>
            
                <br><br><br>
                <p class="section-heading text-uppercase mt-4">1.	Who are we</p>
                <p>Flame is dating app and place to meet new people. Our team is composed and supported by ten members. </p>
                <br><hr>
                <br><br><br>
                <p class="section-heading text-uppercase mt-4">2.	Information We Collect</p>
                <p>We can’t help you develop meaningful connections without some information about you, such as basic profile details and the types of people you’d like to meet.
                    	Information you give us:
                    You choose to give us certain information when using our services. This includes:
                    When you create an account, you provide us with at least your name, location, as well as some basic details necessary for the service to work, such as your gender and date of birth.
                    When you complete your profile, you can share with us additional information, such as details on your bio, interests and other details about you, as well as content such as photos. 
                    	Information collected when you use our services
                    When you use our services, this generates technical data about which features you’ve use
                    Usage Information - using the services generates data about your activity on our services, for instance how you use them (e.g., when you logged in, features you’ve been using,..) and your interactions with other members (e.g., members you connect and interact with, when you exchanged with them, messages you send and receive).
                </p>
                <br><hr>
                <br><br><br>
                <p class="section-heading text-uppercase mt-4">3.	How We Use Information</p>
                <ul>  
                    <li>To administer your account and provide our services to you</li>
                    <li>To help you connect with other users</li>
                    <li>To provide new Flame services to you</li>
                    <li>To improve our services and develop new ones</li>
                    <li>To prevent, detect and fight fraud and other illegal or unauthorized activities</li>­	
                </ul>
                <br><hr>
                <br><br><br>
                <p class="section-heading text-uppercase mt-4">4.	Your Rights</p>
                <p>We want you to be in control of your information, so we want to remind you of the following options and tools available to you:
                    Access / Update tools in the service. Tools and account settings can help you access, rectify or remove information that you provided to us and that’s associated with your account directly within the service.
                    Reviewing your information.
                    Updating your information.
                </p>
                <br><hr>
                <br><br><br>
                <p class="section-heading text-uppercase mt-4">5.	Privacy Policy Changes</p>
                <p>We’re always looking for new and innovative ways to help you build meaningful connections and strive on making sure explanations about our data practices remain up-to-date, this policy may change over time. We will notify you before any changes take effect so that you have time to review the changes.     </p>
                <br><hr>
                <br><br><br>
                <p class="section-heading text-uppercase mt-4">6.	 Safety; Your Interactions with Other Members.</p>
                <p>Though Flame allows members to communicate only after they have both indicated interest in one another, Flame is not responsible for the conduct of any member on or off of the Service. You agree to use caution in all interactions with other members, particularly if you decide to communicate off the Service or meet in person. 
                    YOU ARE SOLELY RESPONSIBLE FOR YOUR INTERACTIONS WITH OTHER MEMBERS. YOU UNDERSTAND THAT FLAME DOES NOT CONDUCT CRIMINAL BACKGROUND CHECKS ON ITS MEMBERS OR OTHERWISE INQUIRE INTO THE BACKGROUND OF ITS MEMBERS. 
                </p>
                <br><hr>
                <br><br><br>
                <p class="section-heading text-uppercase mt-4">7.	Dating Safety Tips</p>
                <p>Meeting new people is exciting, but you should always be cautious when interacting with someone you personaly don’t know. While you can’t control the actions of others, there are things you can do to help you stay safe during your Flame experience.
                    Online Safety:
                    Never Share Financial Information - Never share information that could be used to access your financial accounts. 
                    Protect Your Personal Information - Never share personal information, such as home or work address, or details about your daily routine (e.g., that you go to a certain gym every Monday) with people you don’t know.
                    Stay on the Platform - Usually users with bad intentions often try to move the conversation to text, messaging apps, email, or phone right away.
                    Be Wary of Long Distance, Overseas Relationships and Catfishing - Be ware of anyone who will not meet you in person or talk on a phone/video call—they may not be who they say they are. Also If someone is avoiding your questions or pushing for a serious relationship without getting to know you first — that’s a red flag.
                    Delete All Suspicious and Offensive Behavior - You know when someone’s crossed the line and when they do, we want to know about it. Delete and report anyone that violates our terms. Here are some examples of violations:
                </p>    
                    <ol>
                        <li>Requests for money</li>
                        <li>Harassment, threats, and offensive messages</li>
                        <li>Fraudulent profiles</li>
                        <li>Etc.</li>
                    </ol>
            	<p>
                    Protect Your Account - Be sure to pick a strong password, and always be careful when logging into your account from a public or shared computer.
                    
                    IF YOU HAVE ANY QUESTION ON THOSE TOOLS AND SETTINGS, PLEASE CONTACT OUR TEAM FOR HELP AND REPORT: flamedatingapp@gmail.com
                </p>
                <br><hr>

            
            </div>

</div>
